page-new-register {
    .perfil-image{
        height: 120px;
        width: 120px;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 16px;
        margin-bottom: 16px;
        background-position: center;
        background-size: auto 120px;
        background-repeat: no-repeat;
    }
}
