<ion-card>


  <ion-card-content>
    <!-- Perfil -->
    <app-picture-name [user]="post.user"></app-picture-name>

    <!-- imagem do post -->
    <img [src]="post.image" />

    <!-- Likes e comentários -->
    <ion-item no-lines>
      <p item-end>{{post.likes}}</p>
      <button clear="true" ion-button icon-only item-end (click)="toggleLike()">
        <ion-icon name="heart" [color]="likeColor"></ion-icon>
      </button>

      <span class="spacer" item-end></span>

      <p item-end>{{post.commentsCount}}</p>
      <button clear="true" ion-button icon-only item-end (click)="openComments()">
        <ion-icon name="chatboxes" color="dark"></ion-icon>
      </button>
    </ion-item>

  </ion-card-content>
</ion-card>