<ion-card>


  <ion-card-content>
    <!-- Perfil -->
    <app-picture-name [name]="post.user?.name" [image]="post.user?.image"></app-picture-name>

    <!-- imagem do post -->
    <div class="image-container">
      <img [src]="post.image" />
    </div>

    <!-- Likes e comentários -->
    <ion-item no-lines>
      <span item-start>{{post.likes}}</span>
      <button clear="true" ion-button icon-only item-start (click)="toggleLike()">
        <ion-icon name="heart" [color]="likeColor"></ion-icon>
      </button>

      <span class="spacer" item-start></span>

      <span item-start>{{post.commentsCount}}</span>
      <button clear="true" ion-button icon-only item-start (click)="openComments()">
        <ion-icon name="chatboxes" color="dark"></ion-icon>
      </button>
    </ion-item>

  </ion-card-content>
</ion-card>