<ion-header>

  <ion-navbar color="primary">
    <button *ngIf="isLoggedUser()" ion-button float-right (click)="logout()" color="secondary">
      Sair
    </button>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="profile-image" [ngStyle]="{'background-image': 'url(' + user?.image + ')'}"></div>
  <p class="profile-name">{{user?.name}}</p>
  <ion-grid>
    <ion-row>
      <ion-col class="padding-post-image" *ngFor="let post of posts" col-4>
        <div (click)="openComments(post.id)" class="post-image" [ngStyle]="{'background-image': 'url(' + post?.image + ')'}"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>